body {
    margin: 0px;
    background-color: #646865;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    color: #535657;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}

h2 {
    text-align: center;
    color: #535657;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 0px;
    padding: 20px;
}

h4 {
    text-align: center;
    color: #535657;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0px;
}

li {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

.navigationBar {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0 0px;
    background-color: #646865;
    margin-right: 0px;
    color: #FFFFFC;
}

.greenBlock {
    background-color: #E2FADB;
    padding-bottom: 20px;
}

.whiteBlock {
    background-color: #ffffff;
    padding-bottom: 20px;
}

.pinkBlock {
    background-color: #FFE4F3;
    padding-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about {
    text-align: center;
    font-size: 20px;
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.countup {
    text-align: center;
    margin-top: 20px;
    color: 423E3B;
}

.timeel {
    display: inline-block;
    padding: 10px;
    background: #646865;
    margin: 0;
    color: #FFFFFB;
    min-width: 2.6rem;
    margin-left: 13px;
    border-radius: 10px 0 0 10px;
}

.countup span[class*="timeRef"] {
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    background: #DAC4F7;
    color: #FFFFFB;
}

.timeInLockdown {
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #646865;
}

.things {
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
}

.socialMediaNavBar {
    text-align: center;
    font-size: large;
    margin: 0 2px;
    margin-bottom: 0 0px;
    background-color: #646865;
}

.socialMediaNavBar a {
    color: #FDFFB6;
}

#container>div {
    display: inline-block;
}

#container {
    text-align: center;
    margin: 0px auto;
    width: 80%;
}

.footer {
    text-align: center;
    color: #E2FADB;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}